* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1337px;
    width: 100%;
    
    margin: 0 auto;
}

.nav_content .nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

ul {
    display: flex;
    gap: 64px;
}


header {
    background: #251928;
    width: 100%;
    height: 900px;
}

button {
    color: #FFCE4E;
    background: none;
    border: 1px solid #FFCE4E;
    padding: 21px 30px;
}
.oktam_2:hover{
    background-color: #FFCE4E;
    border-radius: 40px;

}


.header_content span {
    color: #FFCE4E;
}

.header_content h1 {
    color: #fff;
}

.Blur_img {
    background-image: url(imgs/Blurr\ effect.png);
    width: 770px;
    height: 1000px;
}

.header_divs {
    display: flex;
    justify-content: space-between;
}

.header_text h1 {
    margin-top: 171px;
    font-size: 85px;
    font-weight: 20px;
}








.nagap_uka{
    display: flex;
    color: #fff;
    gap: 50px;
    

}
.nagap_uka h1{
  margin: 40px;

}

.nagap_uka p{
  gap: 30px;
}









/* Hover */

li:hover {
    color: red;
}

.oktam{
    background: #FFCE4E;
    color: black;
    font-size: 28px;

}

.nagap{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}